<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Real Time Products</title>
  </head>
  <body>
    <h1>Real Time Products</h1>
    <ul id="product-list">
      {{#each products}}
        <li>
          <span>{{this.name}}</span>
          <span>{{this.description}}</span>
          <span>{{this.price}}</span>
          <span>{{this.stock}}</span>
          <button class="delete-product" data-id="{{this.id}}">Delete</button>
        </li>
      {{/each}}
    </ul>
    <form id="add-product-form">
      <h2>Add Product</h2>
      <div>
        <label for="product-name">Name:</label>
        <input type="text" name="name" id="product-name" required>
      </div>
      <div>
        <label for="product-description">Description:</label>
        <input type="text" name="description" id="product-description" required>
      </div>
      <div>
        <label for="product-price">Price:</label>
        <input type="number" name="price" id="product-price" min="0" step="0.01" required>
      </div>
      <div>
        <label for="product-stock">Stock:</label>
        <input type="number" name="stock" id="product-stock" min="0" required>
      </div>
      <button type="submit">Add Product</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    